.card-body-annuncement{
    background-color: rgb(194, 197, 204);
}
/* roots */
:root{
    --black:rgb(25,25,25);
    --verde:rgb(86, 219, 227);
    --orange: #FC5D35;
    --grey:rgb(128, 138, 159);
    --white:rgb(242, 240, 242);
    --sabbia:rgb(254, 238, 214);
    --border:rgb(15,15,15);
    --azzurro:rgb(65, 172, 185);
    --salmone:rgb(246, 146, 146);
    --quasinero:rgb(50, 56, 63);
    --yellow :rgb(255,185,0) ;
    --rosa:rgb(244, 72, 111);
    --blu:rgb(0, 35, 128);
    --rosso:rgb(193, 23, 44);
    --purpora:rgb(221, 47, 196);
    --bordo:#272727;
}
/* roboto */
.font-1{
    font-family: 'Roboto', sans-serif;
}
/* russo */
.font-2{
    font-family: 'Russo One', sans-serif;
}
h4{
    font-family: 'Russo One', sans-serif;  
}
 /* text-color */
 /* navbar testo */

.text-color1{
    color: var(--white) ;  
    font-family: 'Russo One', sans-serif;
}
.text-color5{
    color: var(--white);
    font-family: 'Russo One', sans-serif;
}
.text-color1:hover{
    color: var(--orange) ;  
    font-family: 'Russo One', sans-serif;
}
/* header text*/
.text-color2{
    color: var(--bordo);
    text-shadow: 1px 1px 2px var(--white);
    font-family: 'Russo One', sans-serif;
}
/* usato nel dropdown */
.text-color3{
color: var(--white) ; 
text-decoration:none; 
}
.text-color3:hover{
    color: var(--orange) ; 
}
.text-color4{
    color: var(--white);
    font-family: 'Russo One', sans-serif;
}
.text-color4:hover{
    color: var(--bordo);
    font-family: 'Russo One', sans-serif;
}
.text-color5{
    color: var(--yellow);
    font-family: 'Russo One', sans-serif;
    
}
/* bg-color */
.bg-color1{
    background-color: #272727;
}
.bg-color2{
    background-color: var(--orange);
}
.bg-color3{
    background-color: var(--white);
}
.bg-color4{
    background-color: var(--quasinero);
}
.bg-color5{
    background-color: var(--border);
}
.bg-color6{
    background-color: #FC5D35;
    border: 1px solid #272727;
}

/* bg-custom */

/* bg-img */
.bg-header{
    background-image:url(/public/media//gFNX2D.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    background-position:center;
}
/* bg- proponi un articolo  */
.card-button{
    background-color: var(--quasinero);
    border-radius: 10px;
    cursor: pointer;
}

.bg-ff{
    background-image: url(/public/media/1522389-middle-removebg-preview.png);
    background-repeat: no-repeat;
    height: 23vh;   
    background-size: contain;
    background-position: center;  
}


/* vh */
.vh-50{
    height: 50vh;
}
.vh-10{
    height: 10vh;
}
.vh-31{
    height: 31vh;
}
.vh-46{
    height: 47vh;
}
/* navbar */
.titolo{
    font-size: 40px;
    -webkit-text-stroke: 1px var(--black);
    color: var(--orange);
    text-transform: uppercase;
    text-shadow: 6px 1px 2px var(--quasinero);
    letter-spacing: 3px;
    font-family: 'Russo One', sans-serif;
}
.dropdown-item:hover{
    background-color: var(--orange);
    
}

/* botton  */
.btn-custom1{
border: 1px solid var(--black);
border-radius: 10px;
background-color: var(--yellow);
box-shadow: 2px 2px 10px var(--black), -2px -2px 10px var(--black);
}
.btn-custom1:hover{
    border: 1px solid var(--black);
    border-radius: 10px;
    background-color: var(--yellow);
    transform: scale(1.1);
    transition: 0.5s;
}
    /* vedi tutto */
    .btn-custom2{
        border: 1px solid black;
        border-radius: 25px ;
        /* cambio colore */
        background-color: var(--yellow);
}
    .btn-custom2:hover{
        border: 1px solid black;
        border-radius: 25px ;
        /* cambio colore */
        background-color: var(--yellow);
}
.btn-custom4{
    border: 1px solid black;
    border-radius: 4px;
    width: 45%;
    /* cambio colore */
    background-color: var(--verde);
    text-decoration: none;
    text-align: center;
   box-shadow: 1px 1px 5px var(--bordo),-1px -1px 5px var(--border);
}
.btn-custom5{
    border: 1px solid black;
    border-radius: 4px;
    width: 45%;
    /* cambio colore */
    background-color: var(--yellow);
    text-decoration: none;
    text-align: center;
   box-shadow: 1px 1px 5px var(--bordo),-1px -1px 5px var(--border);
}
/* bg card sopra */
.bg-card{
    border-radius: 10px ;
    overflow: hidden;
    height: 250px;

}
.bg-card:hover{
    border-radius: 10px ; 
    overflow: hidden;
    transform: scale(1.1);
}
.cardR{
    max-height: 600px;
    border-radius: 30px;
    transition: 0.8s;
    overflow: hidden;
    z-index: 1;
    object-fit: cover;
    position: relative;
    
}
/* carrossello da migliorare */
.img-carousel{
   object-fit: cover;
   width: 100%; 
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px 20px 20px 20px;
    object-fit: cover;
    
}


.customCarousel{
    max-height: 800px;
    width: auto;
    overflow: hidden;
    
    
}
.cardR:hover{
  transform: scale(1.1);

}
.ridimensionamento{
    z-index: 1;
    width: 500px;
    
    border-radius: 30px;
}


.info{
    opacity: 0;
    position: absolute;
    top: 0px;
    height: 300px;
}
.info:hover{
    opacity: 1;
    z-index: 5;
    background-image: linear-gradient(rgba(40,40,40,0.9), rgba(40,40,40,0.9));
    height: auto;
    width: 100%;
    height: 100%;
}
.Annunci-img{
    z-index: 0;
    width: 30%;
 
}
.card1{
    background-position: top;
    background-image: url(/public/media/PYBKeRa0XQYnX6IL4TyQwAdjsG1yIiHr.jpg);
    background-size: cover;
}
.card2{
    background-position: center;
    background-image: url(/public/media/Monster-hunter-world-guida-trofei.jpg);
    background-size: cover;
}
.card3{
    background-position: center;
    background-image: url(/public/media/elden\ ring.jpg);
    background-size: cover;
}
.card4{
    background-position: center;
    background-image: url(/public/media/unnamed.png);
    background-size: cover;
}
.card5{
    background-position: center;
    background-image: url(/public/media/7c440bd678f001bc3b9124f782f9c121e1d51597.webp);
    background-size: cover;
}
.card6{
    background-position: center;
    background-image: url(/public/media/GGyEnCkIXoyiVlN9sRHkzUPo.jpg);
    background-size: cover;
}
/* card font footer */
.card-font{
     border: 1px solid black;
     border-radius: 20%;
     padding: 6px;
     margin: 0.4%;
     background-color: var(--orange);
     color: var(--white);
     box-shadow: 1px 1px 5px var(--border);
     cursor: pointer;
}

/*bottone footer lavora con noi*/
.card-font-btn-footer{
    border: 1px solid black;
    padding: 6px;
    margin: 0.4%;
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 1px 1px 5px var(--border);
    cursor: pointer;
}

/* form pulsante */
.card-font2{
    border: 1px solid black;
    border-radius: 10px;
    padding: 6px;
    margin: 0.4%;
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 1px 1px 5px var(--border);
    cursor: pointer;
}
.card-font3{
    padding: 6px;
    margin: 0.4%;
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}
.card-font-register{
    border: 1px solid black;
    border-radius: 20%;
    padding: 6px;
    margin: 0.4%;
    background-color: var(--azzurro);
    color: var(--white);
    box-shadow: 1px 1px 5px var(--border);
    cursor: pointer;
    
}
.card-font:hover{
    border: 1px solid black;
    border-radius: 20%;
    padding: 6px;
    margin: 0.4%;
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 1px 1px 5px var(--border);
    transform: scale(1.1);
}
.card-font-register:hover{
    border: 1px solid black;
    border-radius: 20%;
    padding: 6px;
    margin: 0.4%;
    background-color: var(--blu);
    color: var(--white);
    box-shadow: 1px 1px 5px var(--border);
    transform: scale(1.1);
}
/* icone */
.font{
    color: var(--orange);
    -webkit-text-stroke: 1px black;
    
}
.linea{
    height: 100%;
    width: 2px;
    background-color: black;   
}
.cursor{
    cursor: pointer;
}
/* bg */
/* bg-categoria  */
.bg-card2{
    border-radius: 5px ;
    height: 250px;
    width: 400px;
  position: relative;
  text-decoration:none;
}
.bg-card2:hover{
    border-radius: 5px ;   
    text-decoration:none;
}
.bg-img{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/category-background2.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img2{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/street-fighter-x-tekken-33741.576x324.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img3{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/hytale-rpg-video-games-hd-wallpaper-preview.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img4{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/HD-wallpaper-video-game-overwatch-d-va-overwatch.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img5{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/Gran-Turismo-Sport.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img6{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/dark-souls-iii-4k-ultra-hd-wallpaper-background-image-6650x3741.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img7{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/video-game-art-dark-souls-fan-art-video-games-wallpaper-preview.webp) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img8{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/thumb-1920-1215078.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img9{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/wallpaper_ark_survival_evolved_02_1920x1080.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img10{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/wallpaper_ark_survival_evolved_02_1920x1080.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img11{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/20501164.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.bg-img12{
    background-image:linear-gradient(rgba(200,200,200,0.3), rgba(200,200,200,0.3)), url(/public/media/f332d57a897a944cea6d0827e143483e.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)); */
}
.transform1{
    transition: 0.5;
    align-self: flex-end;
     
    
 }
 .transform2{
     transition: 0.5;
     align-self: flex-end;
      bottom: 0px;
      max-height: 250px;
      text-decoration:none;
  }

  .transform2:hover{
    transform:scale(1.1);
    transition: .5s;
    position: relative;
    transition: 0.5;
    align-self: flex-end;
    bottom: 12px;
}

.transform1:hover{
    transform:scale(1.1);
    transition: .5s;
    position: relative;    
    align-self: flex-end;
    bottom: 12px;   
}

.transform3{
    transition: 0.5;
    align-self: flex-end;
     bottom: 0px;
     max-height: 250px;
     text-decoration:none;
}
.transform3:hover{
    transition: 0.5;
    align-self: flex-end;
     bottom: 0px;
    transform: scale(1.1);
     text-decoration:none;
}
.transform4{
    transition: 0.5;
    align-self: flex-end;
     bottom: 0px;
     max-height: 220px;
     width: 80%;
     text-decoration:none;
}

.transform4:hover{
    transition: 0.5;
    align-self: flex-end;
    bottom:10px;
    transform: rotate(2deg);
    text-decoration:none;
     
}
/* usato su carte yugioh categoria */
.transform5{
    transition: 0.5;
}
.transform5:hover{
    transform: scale(1.1);
}
.transform6{
    transition: 0.5;
    align-self: flex-end;  
 }
 .transform6:hover{
    transform:scale(1.1);
    transition: .5s;
    position: relative;    
    align-self: flex-end;
    bottom: 12px;   
 }
/* 900px inferiore button */
.text-decoration{
    text-decoration:none;
    color: var(--white);
   
}
.noi{
font-size: 20px;
}
.nounderline{
    text-decoration: none;
  }
.card-900{
    background-color: var(--orange);
    border-radius: 5px;
    text-align: center;
    color: #272727;
    height: 50px;
    width: 100%;
    align-items: center;
}
/* da vedere se lasciarlo */
.rotondo{
    height: 300px;
    width: 300px;
    border-radius: 50% ;
    border: 3px solid var(--black); 
    padding: 10px;
    background-color: transparent;
    box-shadow: 2px 2px 10px var(--verde),-2px -2px 10px var(--white);
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
}
.rotondo:hover{

    transform: rotate(3deg);
    overflow: hidden;
}
/* newsletter */
.bg-newsletter{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.bg-form{
  box-shadow: 2px 2px 10px var(--orange),-1px -1px 5px var(--white);
  width: 180%;  
  
}
.bg-form-register2{
    box-shadow: 2px 2px 10px var(--orange),-1px -1px 5px var(--white);
      
    
}

.img-preview{
    height: 150px;
    width: 150px;
    
    
    
    
}
.shadowProfile{
    box-shadow: 5px 5px 10px  lightcyan, -5px -5px 20px;
    height: 70vh;
    background-image: url(/public/media/LuxFromBig.webp);
    background-size: cover;
    border-radius: 10px;
}
.shadowProfile:hover{
    
    box-shadow: none;
    transition: box-shadow 1s
}
.profileTextShadow{
    text-shadow: 2px 2px solid black;
}
.cardProfile{
    width: 18rem;
    background: transparent ;
}

@media screen and (max-width: 1400px) {
    .bg-card2{
       width: 300px;
       border-radius: 5px 
    }
    .shadowProfile{
        box-shadow: 5px 5px 10px  lightcyan, -5px -5px 20px;
       border-radius: 10px;
        max-height: 70vh;
        background-position: center;
        background-image: url(/public/media/LuxSmallScreen.jpeg);
        background-size: cover;
        color: aliceblue;
    }

    .transform1{
       width:45%;
       height: 80%;
       align-self: flex-end;
        bottom: 10px;
        
    }
    .transform1:hover{
        width:45%;
        height: 80%;
        align-self: flex-end;
         bottom: 10px;
         
     }

    .vh-50{
       height: 80vh;
    }
    .bg-card{
       height: 200px;
    }
    .bg-header{
       background-image:url(/public/media/TcCx7Ov.gif);
       background-size: cover;
       background-repeat: no-repeat;
       height: 90vh;
       background-position:bottom;
       
   }
   .transform2{
       transition: 0.5;
       align-self: flex-end;
        bottom: 0px;
        max-height: 190px;
       
    }
    .vh-31{
        height: 45vh;
    }
    .vh-46{
        height: 60vh;
    }
    .transform5{
        transition: 0.5;
        max-width: 100%;
    }
    .transform6{
        transform:scale(1.1);
        transition: .5s;
        position: relative;    
        align-self: flex-end;
        bottom: 12px;   
        width: 70%;
        height: 70%;
     }
     .rotondo{
        height:150px;
        width: 150px;
     } 
 }
 @media screen and (max-width: 1000px){
   .transform{
      width: 30%;
      transition: 0.5; 
       bottom: 0px;
       height: 100%;
   }
   .shadowProfile{
    box-shadow: 5px 5px 10px  lightcyan, -5px -5px 20px;
    max-height: 70vh;
    background-position: center;
    background-image: url(/public/media/LuxSmallScreen.jpeg);
    background-size: cover;
    color: aliceblue;
}
   .bg-color7{
    background-color: #272727;
   }
   .bg-card2{
       border-radius: 5px ;
       height: 150px;
       width: 220px;     
   }
   .vh-50{
       height: 80vh;
    }
    .bg-card{
       height: 100px;
    }   
   .cellulare{
    height: 0px;
    padding-bottom: 20px;
    align-items: center;

   
}
.bg-header{
    background-image:url(/public/media/download.gif);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 60vh;
    background-position:center;   
}
   .transform3{
    transition: 0.5;
    align-self: flex-end;
     bottom: 0px;
     max-height: 150px;
     text-decoration:none;
}
.rotondo{
    height:140px;
    width: 140px;
 }
 .nocell{
    display: none;
 }

}

@media screen and (max-width: 500px) {
    .bg-header{
        background-image:url(/public/media/download.gif);
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 50vh;
        background-position:center; 
}
.shadowProfile{
    box-shadow: 5px 5px 10px  lightcyan, -5px -5px 20px;
    max-height: 70vh;
    background-position: center;
    background-image: url(/public/media/LuxSmallScreen.jpeg);
    background-size: cover;
    color: aliceblue;
}
.cellulare{
    height: 0px;
    padding-bottom: 20px;
    
}
}

