.form-registration{

    width: 100%;
    background-color: #272727;
    color:  aliceblue;
    align-items: center;
  }

  .header-text-auth{
    color: #fff !important;
  }
  body{
    background-color: #272727;
  }
  .form-registration-required{
    background-color: #272727;
    color:  aliceblue;
    text-align: center;
  }
  
.header-with-bg-image{
    background-image: url('https://images7.alphacoders.com/607/thumb-1920-607601.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
  
 
  .register-container{
    width: 100%;
  }
  
  .button-registration-form{
    background-color: rgb(36, 160, 237);
    
    padding: 5px;
    border: 0px solid black;
    color:whitesmoke;
    
  }
 
  .pointer{
    cursor: pointer;
   
  }
 
  .icon-registration{
    background-color: blue;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
  }
.form-label{
  color: aliceblue;
}
